html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #101921;
    font: normal 14px 'PT Sans', Calibri, Raleway, Lato, Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}

.description_light{
    color: #808080;
    font-size: .7em;
}

.fl{float: left;}
.fr{float: right;}

.pointer{
    cursor: pointer;
}

::-webkit-input-placeholder {font-size: 0.8em;}
::-moz-placeholder          {font-size: 0.8em;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 0.8em;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 0.8em;}

div.inline{
    display: inline;
}

form{
    text-align: left;
}

form label{
    color: #808080;
}

form legend {
    text-align: center;
}

form.simple{
    margin-bottom: 10px;
}

table.body{
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    border: 0;
    border-collapse: collapse;
    min-width: 920px;
}

table.content{
    vertical-align: text-top;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.search_param{
    border: 1px solid rgba(255, 255, 255, .8);
    border-collapse: collapse;
    padding: 0;
}

table.search_param td{
    vertical-align: bottom;
}

/*
Таблица для просмотра информации
BEGIN
*******************************/

table.view{
    vertical-align: text-top;
    border-collapse: collapse;
}

table.view td, th, caption{
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .8);
}

table.view caption{
    border: 1px solid rgba(255, 255, 255, .8);
}

table.view th{
    font-weight: normal;
}

table.view th, caption{
    background-color: #e0e0e0;
}

table.view tr.srow:nth-child(odd) {
    background-color: #F9F9F9;
}

table.view tr.srow:nth-child(even) {
    background-color: #F1F1F1;
}

/*******************************
Таблица для просмотра информации
END
*/

#header{
    height: 34px;
    background: #9AB6BA;
    padding: 0px; margin: 0px;
    vertical-align: text-bottom;
}

#header div.header{
    height: auto;
}

#footer{
    height: 34px;
    background: #485557;
    color: #808080;
    font-size: .9em;
}




#drop-files {
    position:relative;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    background: rgba(250, 250, 250, 1);
    border: 1px dashed rgba(0,0,0,0.2);
}

#drop-files p {
    clear:none;
    padding:0;
    margin:0;
}

#uploaded-holder {
    display: none;
    position:relative;
    margin: 0 auto;
}

#dropped-files {
    display:block;
    margin: 0 auto;
    /*width: 950px;*/
}

#upload-button {
    z-index: 9999;
    display: none;
    margin: 20px 0;
}

.drop-button {
    display: block;
    position: absolute;
    z-index: 9999;
    padding: 5px;
    width: 100%;
    background: rgba(0,0,0,0.6);
    font-size: 1em;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

#dropped-files .image {
    position: relative;
    height: 200px;
    width: 300px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    /*float: left;*/
    /*border-radius: 4px;*/
    margin: 0 7px 7px 0;
    overflow: hidden;
}

#upload-button .ss-upload {
    font-size: 0.7em;
}

/*#upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
}*/

#upload-button span {
    position:relative;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 6px;
    margin-right: 8px;
}
/*#upload-button a:hover {
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;
}*/

#loading {
    display: none;
    width: 100%;
    position: relative;
    margin: 20px;
}

#loading-bar {
    width: 404px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 2px;
}

.loading-color {
    width: 0%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: inherit;
    background-color: #4edbf1;
}

#loading-content {
    position: relative;
    top: 15px;
    font-weight: bold;
    text-align: center;
    width: 405px;
}

#file-name-holder {
    width: 100%;
    float: left;
}

#file-name-holder h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 3em;
    margin: 0;
}

#uploaded-files {
    width:500px;
    list-style:none;
    margin:0 auto;
    padding: 10px;
    color: #545454;
}

#uploaded-files li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    line-height: 25px;
    color: #545454;
}

#uploaded-files a {
    color: #1bacbf;
}

a.nav {
    font-family:tahoma;
    font-size:20px;
    color:#4280af;
    text-decoration:none;
    margin-bottom:10px;
}
a.nav:hover {
    color:#fffb89;
}